* {
    border: 0;
    padding: 0;
    margin: 0;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: big john;
    width: 100%;
    height: 100vh;
}

h2 {
    background-color: #eee;
    padding: 8px 24px;
    border-radius: 16px;
}

.div-1 {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(images/underwater.jpg);
    background-size: cover;
}

.jellyfish {
    position: absolute;
    z-index: 1;
}

.jellyfish-1 {
    height: 150px;
    width: auto;
    left: 28%;
    bottom: 5%;
}

.jellyfish-2 {
    height: 150px;
    width: auto;
    right: 5%;
    bottom: 10%;
}

.jellyfish-3 {
    height: 50px;
    width: auto;
    left: 10%;
    top: 5%
}

.jellyfish-4 {
    left: 20%;
    bottom: 15%;
    height: 150px;
    width: auto;
    transform: rotate(180deg);
}

.jellyfish-5 {
    left: 70%;
    bottom: 0%;
    height: 150px;
    width: auto;
}

.jellyfish-6 {
    left: 10%;
    top: 30%;
    transform: rotate(90deg);
    height: 150px;
    width: auto;
}

.jellyfish-7 {
    left: 50%;
    bottom: 5%;
    height: 150px;
    width: auto;
}

.jellyfish-8 {
    left: 80%;
    top: 5%;
    height: 150px;
    width: auto;
    transform: rotate(200deg);
}

.jellyfish-9 {
    right: 10%;
    top: 40%;
    height: 200px;
    width: auto;
    transform: rotate(300deg);
}

.jellyfish-10 {
    left: 35%;
    top: 5%;
    height: 150px;
    width: auto;
    transform: rotate(270deg);
}

.jellyfish-11 {
    left: 20%;
    top: 20%;
    height: 150px;
    width: auto;
}

.jellyfish-12 {
    right: 15%;
    bottom: 5%;
    height: 150px;
    width: auto;
}

.jellyfish-13 {
    right: 35%;
    top: 10%;
    height: 150px;
    width: auto;
    transform: rotate(180deg);
}

.coral {
    position: absolute;
    z-index: 4;
}

.coral-1 {
    height: 300px;
    width: auto;
    left: 0;
    bottom: 0;
}

.coral-2 {
    height: 300px;
    width: auto;
    right: 0;
    bottom: 0;
}

.coral-3 {
    height: 200px;
    width: auto;
    bottom: 0;
    z-index: 3;
}

.div-2 {
    display: flex;
    flex-direction: row;
    background-color: #eee;
    height: 70vh;
    width: auto;
}

.hotel {
    background-image: url(images/hotel.jpg);
    background-size: cover;
    height: 70vh;
}

.flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.div-3 {
    background-image: url(images/sunset.jpg);
    background-size: cover;
}

@media only screen and (max-width: 768px) {

    .jellyfish-13,
    .jellyfish-9,
    .jellyfish-6,
    .jellyfish-1,
    .jellyfish-5,
    .jellyfish-7,
    .coral-1,
    .coral-2 {
        opacity: 0;
    }

    .coral-3 {
        width: 100vw;
    }

    .hotel,
    .div-2 {
        height: 100vh;
    }

    .div-3 {
        background-attachment: unset;
        background-size: 100% 170%;
    }
}